@tailwind base;
@tailwind components;
@tailwind utilities;

.or {
  background-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
  background-size: 40% 1px;
  background-position: center left, center right;
  background-repeat: no-repeat;
}
