@tailwind base;
@tailwind components;
@tailwind utilities;

.or {
  background-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
  background-size: 40% 1px;
  background-position: center left, center right;
  background-repeat: no-repeat;
}

.tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}